{% load static %}
<script src="{% static 'assets/custom/js/bootstrap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="{% static 'assets/custom/js/custom.js' %}"></script>
<script src="{% static 'assets/custom/js/parallax.min.js' %}"></script>
<script src="{% static 'assets/custom/js/morphext.min.js' %}"></script>
<script src="{% static 'assets/custom/js/infinite-scroll.min.js' %}"></script>
<script src="{% static 'assets/custom/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/custom/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/custom/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/custom/js/popper.min.js' %}"></script>
<script src="{% static 'assets/custom/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/custom/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/custom/js/slick.min.js' %}"></script>
<script src="{% static 'assets/custom/js/contact.js' %}"></script>
<script src="{% static 'assets/custom/js/validator.js' %}"></script>
<script src="{% static 'assets/custom/js/wow.min.js' %}"></script>
<script src="{% static 'assets/custom/js/jquery.magnific-popup.min.js' %}"></script>