<!-- section experience -->
<section id="experience">
  <div class="container">
    <!-- section title -->
    <h2 class="section-title wow fadeInUp">Experiência</h2>
    <div class="spacer" data-height="60"></div>
    <div class="row">
      <div class="col-md-6">
        <!-- timeline wrapper -->
        <div class="timeline edu bg-dark rounded shadow-dark padding-30 overflow-hidden">
          <!-- timeline item -->
          <div class="timeline-container wow fadeInUp">
            <div class="content">
              <span class="time">2023 - Present</span>
              <h3 class="title">ADS - Analise desenvolvimento de sistemas</h3>
              <p>IFPI - Instituto Fedral Do Piaui</p>
            </div>
          </div>
          <!-- timeline item -->
          <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
            <div class="content">
              <span class="time">2018 - 2022</span>
              <h3 class="title">Ciencias Da Computação</h3>
              <p>UESPI - Universidade Estadual Do Piaui (INCOMPLETO)</p>
            </div>
          </div>
          <!-- timeline item -->
          <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
            <div class="content">
              <span class="time">2015-2017</span>
              <h3 class="title">Tec. Em Informatica</h3>
              <p>IFPI - Instituto Fedral Do Piaui</p>
            </div>
          </div>
          <!-- main line -->
          <span class="line"></span>
        </div>
      </div>
      <div class="col-md-6">
        <!-- responsive spacer -->
        <div class="spacer d-md-none d-lg-none" data-height="30"></div>
        <!-- timeline wrapper -->
        <div class="timeline exp bg-dark rounded shadow-dark padding-30 overflow-hidden">
          <!-- timeline item -->
          <div class="timeline-container wow fadeInUp">
            <div class="content">
              <span class="time">ago 2023 - ago 2023</span>
              <h3 class="title">Django Subscripton</h3>
              <p>Projeto Pessoal</p>
            </div>
          </div>
          <!-- timeline item -->
          <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
            <div class="content">
              <span class="time">jun 2023 - ago 2023</span>
              <h3 class="title">Expense Control</h3>
              <p>Projeto Pessoal</p>
            </div>
          </div>
          <!-- timeline item -->
          <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
            <div class="content">
              <span class="time">jan 2023 - mai 2023</span>
              <h3 class="title">Waiter Service</h3>
              <p>Projeto Pessoal</p>
            </div>
          </div>
          <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
            <div class="content">
              <span class="time">dez 2022 - dez 2022</span>
              <h3 class="title">Balance-control</h3>
              <p>Projeto Pessoal</p>
            </div>
          </div>
          <!-- main line -->
          <span class="line"></span>
        </div>
      </div>
    </div>
  </div>
</section>
