		{% load static %}
        <!-- section testimonials -->
		<section id="testimonials">

			<div class="container">

				<!-- section title -->
				<h2 class="section-title wow fadeInUp">Minhas Habilidades</h2>

				<div class="spacer" data-height="60"></div>
				<div class="row">
					<div class="col-md-3 col-6">
						<!-- client item -->
						<div class="client-item">
							<div class="inner">
								<img src="{% static '/images/client-1-light.svg' %}" alt="client-name" />
							</div>
						</div>
					</div>
					<div class="col-md-3 col-6">
						<!-- client item -->
						<div class="client-item">
							<div class="inner">
								<img src="{% static 'images/client-2-light.svg' %}" alt="client-name" />
							</div>
						</div>
					</div>
					<div class="col-md-3 col-6">
						<!-- client item -->
						<div class="client-item">
							<div class="inner">
								<img src="{% static 'images/client-3-light.svg' %}" alt="client-name" />
							</div>
						</div>
					</div>
					<div class="col-md-3 col-6">
						<!-- client item -->
						<div class="client-item">
							<div class="inner">
								<img src="{% static 'images/client-4-light.svg' %}" alt="client-name" />
							</div>
						</div>
					</div>
					<div class="col-md-3 col-6">
						<!-- client item -->
						<div class="client-item">
							<div class="inner">
								<img src="{% static 'images/client-5-light.svg' %}" alt="client-name" />
							</div>
						</div>
					</div>
					<div class="col-md-3 col-6">
						<!-- client item -->
						<div class="client-item">
							<div class="inner">
								<img src="{% static 'images/client-6-light.svg' %}" alt="client-name" />
							</div>
						</div>
					</div>
					<div class="col-md-3 col-6">
						<!-- client item -->
						<div class="client-item">
							<div class="inner">
								<img src="{% static 'images/client-7-light.svg' %}" alt="client-name" />
							</div>
						</div>
					</div>
					<div class="col-md-3 col-6">
						<!-- client item -->
						<div class="client-item">
							<div class="inner">
								<img src="{% static 'images/client-8-light.svg' %}" alt="client-name" />
							</div>
						</div>
					</div>
				</div>

			</div>

		</section>
